[submodule "Externals/Cedar"]
	path = Externals/Cedar
	url = https://github.com/pivotal/cedar.git
[submodule "Externals/Blindside"]
	path = Externals/Blindside
	url = https://github.com/jbsf/blindside.git
[submodule "Externals/SourceKitten"]
	path = Externals/SourceKitten
	url = https://github.com/jpsim/SourceKitten.git
